.expert-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
}

h1,
h2 {
  color: #132c42;
}

.expert-details-container h1 {
  font-size: 2.3rem;
}

.expert-details-container .expert-details-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #132c42;
}

.expert-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-div {
  display: flex;
  align-items: center;
  padding: 13px;
  width: 600px;
  column-gap: 1rem;
}

.expert-details h2 {
  font-size: 27px;
}

.expert-details p {
  color: #0d2337;
  font-size: 20px;
  opacity: 0.9;
  letter-spacing: 0.3px;
}

.edit-btn,
.invest-btn {
  height: 3rem;
  width: 15rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #0d2337;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.edit-btn:hover,
.invest-btn:hover {
  background-color: #1c4264;
  box-shadow: 0 19px 26px 0 rgba(107, 180, 253, 0.4),
    0 5px 12px 0 rgba(107, 180, 253, 0.9); 
}

.expert-details-buttons {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.expert-details-buttons .details-options {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .expert-details h2 {
    font-size: 23px;
  }
  .expert-details-container .expert-details-image {
    height: 200px;
    width: 200px;
  }
  .expert-details p {
    font-size: 16px;
    letter-spacing: 0.3px;
  }

  .details-div {
    padding: 13px;
    width: 550px;
  }
}

@media screen and (max-width: 570px) {
  .expert-details h2 {
    font-size: 20px;
  }

  .expert-details-container h1 {
    font-size: 1.8rem;
  }
  .expert-details-container .expert-details-image {
    height: 200px;
    width: 200px;
  }
  .expert-details p {
    font-size: 16px;
    letter-spacing: 0.3px;
  }

  .details-div {
    padding: 13px;
    width: 480px;
  }
  .edit-btn {
    height: 2rem;
    width: 7.5rem;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .expert-details h2 {
    font-size: 16px;
  }

  .expert-details-container h1 {
    font-size: 1.5rem;
  }
  .expert-details-container .expert-details-image {
    height: 200px;
    width: 200px;
  }
  .expert-details p {
    font-size: 13px;
    letter-spacing: 0.3px;
  }

  .details-div {
    padding: 13px;
    width: 380px;
  }
  .edit-btn {
    height: 2rem;
    width: 6.5rem;
    font-size: 16px;
  }

  .details-options {
    height: 30px !important;
    width: 30px !important;
  }
}

@media screen and (max-width: 400px) {
  .expert-details h2 {
    font-size: 16px;
  }

  .expert-details-container h1 {
    font-size: 1.3rem;
  }
  .expert-details-container .expert-details-image {
    height: 150px;
    width: 150px;
  }
  .expert-details p {
    font-size: 15px;
  }

  .details-div {
    width: 300px;
  }
  .edit-btn {
    width: 6rem;
  }

  .details-options {
    height: 30px !important;
    width: 30px !important;
  }
  .expert-details-buttons {
    column-gap: 1.3rem;
  }
}

.investment-options {
  margin-bottom: 1rem;
}

.investment-options label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.investment-options input[type="radio"] {
  margin-right: 0.5rem;
  font-size: 2rem;
}

input[type="number"] {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
}

input[type="number"]::placeholder {
  color: #888;
}
